parameters:
    level: 8
    tmpDir: output/cache/phpstan
    paths:
        - src
        - .php-cs-fixer.php

    reportUnmatchedIgnoredErrors: false

    # https://github.com/spaze/phpstan-disallowed-calls

    disallowedNamespaces:
        -
            namespace:
                - PHPUnit\*
            message: 'these are not meant to be accessed outside of tests'
        -
            namespace:
                - Rocky\PackageFiles\Tests\*
            message: 'the test classes dont belong in the package code'

includes:
    - phpstan-all-baseline.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon